body { padding: 0; height: 100%; background-color: #eee; }
.half-container { width: 47%; height: 100%; overflow: scroll; display: inline-block; padding: 10px; vertical-align: top; height: 100%; }
.half-container .inner-container { width: 99%; padding: 5px; border: 1px solid #ccc;}
.half-container .editor { height: 600px; font-family: monospace; }
.half-container .preview { padding: 10px; background-color: #fff; }