<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>B</string>
		<string>C</string>
		<string>D</string>
	</array>
	<key>B</key>
	<array>
		<string>E</string>
	</array>
	<key>C</key>
	<array>
		<string>F</string>
		<string>G</string>
	</array>
	<key>D</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>J</string>
	</array>
	<key>E</key>
	<array>
		<string>K</string>
		<string>L</string>
	</array>
	<key>F</key>
	<array/>
	<key>G</key>
	<array>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
	</array>
	<key>H</key>
	<array/>
	<key>I</key>
	<array>
		<string>Q</string>
		<string>R</string>
	</array>
	<key>J</key>
	<array/>
	<key>K</key>
	<array>
		<string>S</string>
	</array>
	<key>L</key>
	<array>
		<string>T</string>
		<string>U</string>
	</array>
	<key>M</key>
	<array>
		<string>V</string>
	</array>
	<key>N</key>
	<array/>
	<key>O</key>
	<array/>
	<key>P</key>
	<array/>
	<key>Q</key>
	<array/>
	<key>R</key>
	<array/>
	<key>S</key>
	<array>
		<string>W</string>
	</array>
	<key>T</key>
	<array/>
	<key>U</key>
	<array/>
	<key>V</key>
	<array/>
	<key>W</key>
	<array/>
</dict>
</plist>
